{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% block head %}
			<title>Index | BestBid.com</title>
		{% endblock %}
	</head>

	<body>

		<main>
			{% block body %}
				<div class="container-fluid">
					<div class="jumbotron">
						<h1 class="display-3">Hello, world!</h1>
						<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
						<hr class="my-4">
						<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
						<p class="lead">
						  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
						</p>
					  </div>
				</div>

				<div>
					<ul>
						{% if assets %}	
						Assets : 
							{% for a in assets %}
								<li>{{ a }}</li>
							{% endfor %}
						{% else %}
							No Assets Found
						{% endif %}
					</ul>
				</div>
			{% endblock %}
		</main>
	</body>
</html>
