{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% block head %}
			<title>{{ asset.name }} | BestBid.com</title>
		{% endblock %}
	</head>

	<body>
		<main>
			{% block body %}
				<div class="container">
					<br>
					<h2 style="text-align: center;">{{ asset.name }}</h2>
					<br>
					<!-- Card for each asset -->
					<div class="col-sm-6">
						<div class="card" style="width:700px">
							<h3 class="card-header"><a href="#">{{ asset.name }}</a></h3>
							<div class="card-body">
								<h5 class="card-title">{{ asset.category }}</h5>
							</div>
							<img style="height: 400px; width: 100%; display: block;" src="{{ asset.image.url }}" alt="Asset Image">
							
							<div class="card-body">
								<p class="card-text">{{ asset.details }}</p>
							</div>
							<!-- <ul class="list-group list-group-flush">
								<li class="list-group-item">Sold at : ${{ asset.price }}</li>
							</ul> -->

							
							<div class="card-footer text-muted">
								Seller : {{ asset.seller.name }}
							</div>
							
						</div>
					</div>
				</div>
			{% endblock %}
		</main>
	</body>
</html>
