{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% block head %}
			<title>Bid | BestBid.com</title>
		{% endblock %}
	</head>

	<body>
		<main>
			{% block body %}
				<div class="container">
					<div>
						<!-- Warning Alert is user is not Buyer -->
						{% if request.session.user_type != 'buyer' %}
							<div class="alert alert-dismissible alert-warning">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<h4 class="alert-heading">Bid Disabled</h4>
								<p class="mb-0">Please Login with a <a href="{% url 'buyer_login' %}" class="alert-link">Buyer Account</a> to Place Bid.</p>
							</div>
						{% endif %}
						<!-- Info if time is not between 10 and 12 -->
						{% if allow_bid %}
							Allow Bidding
						{% else %}
							<div class="alert alert-dismissible alert-info">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<h4 class="alert-heading">Bid Currently Disabled</h4>
								<p class="mb-0">Bid can only be performed between 10:00 and 12:00</p>
							</div>
						{% endif %}
					</div>

					<div class="jumbotron">
						<h1 class="display-3">BID</h1>
						<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
						<hr class="my-4">
						<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
						<p class="lead">
							<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
						</p>
					</div>
					<br>
					{% if assets %}
						<table class="table table-hover center">
							<thead>
								<tr>
									<th scope="col">Asset Name</th>
									<th scope="col">Category</th>
									<th scope="col">Base Price ($)</th>
									<th scope="col">Seller</th>
									<th scope="col">Bid</th>
								</tr>
							</thead>
							{% for asset in assets %}
								<tbody>
									<tr class="table">
										<td><a href="{{ asset.get_abs_url }}">{{ asset.name }}</a></td>
										<td>{{ asset.category }}</td>
										<td>{{ asset.baseprice }}</td>
										<td>{{ asset.seller.name|title }}</td>
										<td>
											<button class="btn btn-info" href="#" value="Bid"
												{% if request.session.user_type != 'buyer'%}
													disabled ="true" aria-disabled="true"
												{% endif %}
												{% if not allow_bid %}
													disabled ="true" aria-disabled="true"
												{% endif %}
												>
												Bid
											</button>
										</td>
									</tr>
								</tbody>
							{% endfor %}
						</table>
					{% endif %}
					
					{% comment %}
						
						{% if assets %}
							{% for asset in assets %}
								<div class="col-md-8" style="width: 400px;">	
									<div class="card">
										<h3 class="card-header"><a href="{{ asset.get_abs_url }}">{{ asset.name }}</a></h3>
										<div class="card-body">
											<h5 class="card-title">{{ asset.category }}</h5>
										</div>
										<img style="height: 150px; width: 100%; display: block;" src='{{ asset.image.url }}' alt="Asset Image">
										<div class="card-body">
											<p class="card-text">Baseprice : ${{ asset.baseprice }}</p>
										</div>
										<ul class="list-group list-group-flush">
											<li class="list-group-asset">Seller : {{ asset.seller.name }}</li>
										</ul>
									</div>
								</div>
								<br>
							{% endfor %}
						{% endif %}

					{% endcomment %}
				</div>
			{% endblock %}
		</main>
	</body>
</html>
