{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% block title %}
			<title>Buyer | BestBid.com</title>
		{% endblock %}
	</head>

	<body>
		{% block body %}
			<div class="container">
				<main>
					<br>
					<h1 style="text-align: center;">Dashboard</h1>
					<br>
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Email</th>
								<th scope="col">Contact</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ user.name }}</td>
								<td>{{ user.email }}</td>
								<td>{{ user.contact }}</td>
							</tr>
						</tbody>
					</table>
					<br>
					<h2 style="text-align: center;">Assets Bought</h2>
					<br>

					{% for item in assets_bought %}
						<div class="card " style="border-radius: 7px;">
							<div class="row align-items-center">
								<div class="col asset-img" style="display: inline-flex;">
									<a href="{{ item.asset.get_abs_url }}">
										<img src="{{ item.asset.image.url }}" alt="{{ item.asset.name|title }}" style="display: block; border-radius: 7px;" width="100%;">
									</a>
								</div>
								<div class="col">
									<ul class="list-group list-group-flush">
										<li class="list-group-item"><h5>Name : {{ item.asset.name|title }}</h5></li>
										<li class="list-group-item"><h5>Category : {{ item.category|title }}</h5></li>
										<li class="list-group-item"><h5>Bought For : {{ item.price }}</h5></li>
										<li class="list-group-item"><h5>Seller : {{ item.asset.seller }}</h5></li>
									</ul>
								</div>
							</div>
						</div>
						<br>
					{% empty %}
						<h5 style="text-align: center;">No Assets Bought. <a href="{% url 'bid' %}">Bid Now</a></h5>
					{% endfor %}
					
					<br><br>
					<!-- Featured Assets -->
					<h2 style="text-align: center;">Featured Assets</h2>
					<br>
					{% for asset in assets %}
						<div class="card " style="border-radius: 7px;">
							<h3 class="card-header" style="text-align: center;"><a href="{{ asset.get_abs_url }}">{{ asset.name }}</a></h3>
							<div class="row align-items-center">
								<div class="col asset-img" style="display: inline-flex;">
									<a href="{{ asset.get_abs_url }}">
										<img src="{{ asset.image.url }}" alt="{{ asset.name|title }}" style="display: block; border-radius: 7px;" width="100%;">
									</a>
								</div>
								<div class="col">
									<ul class="list-group list-group-flush">
										<li class="list-group-item">Name : {{ asset.name|title }}</li>
										<li class="list-group-item">Category : {{ asset.category|title }}</li>
										<li class="list-group-item">Baseprice : {{ asset.baseprice }}</li>
										<li class="list-group-item">Seller : {{ asset.seller }}</li>
									</ul>
								</div>
							</div>
						</div>
						<br>
					{% endfor %}
				</main>
			</div>
		{% endblock %}
	</body>
</html>
