{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% block head %}
			<title>{{ user.name|title }} | BestBid.com</title>
		{% endblock %}
	</head>

	<body>
		{% block body %}
			<div class="container w-50">
				<main>
					<br>
					<h1 style="text-align: center;">Edit Profile</h1>
					<br>
					<form action="{% url 'edit_profile' %}" method="POST">
						{% csrf_token %}
						<fieldset>
							{{ form.as_p }}					
							<input type="hidden" name="user_id" value="{{ request.session.id }}">
							<input type="hidden" name="user_type" value="{{ request.session.user_type }}">
							<button class="btn btn-info my-2 my-sm-0">Update Profile</button>
						</fieldset>
					</form>
					<br>
					
					<form action="change_password/" method="POST">
						{% csrf_token %}
						<fieldset>
							<input type="hidden" name="user_id" value="{{ request.session.id }}">
							<input type="hidden" name="user_type" value="{{ request.session.user_type }}">
							<button class="btn btn-primary my-2 my-sm-0">Change Password</button>
						</fieldset>
					</form>
				</main>
			</div>
		{% endblock %}
	</body>
</html>
