<hr>
<!-- Footer -->
<footer class="page-footer font-small indigo">

	<!-- Footer Links -->
	<div class="container text-center text-md-left">

		<!-- Grid row -->
		<div class="row">

			<!-- Grid column -->
			<div class="col-md-4 mx-auto">

				<!-- Links -->
				<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Developed By</h5>
				<ul class="list-unstyled">
					<li>
						<a href="#">Aarsh Sheth</a>
					</li>
					<li>
						<a href="#">Zarmy Patel</a>
					</li>
					<li>
						<a href="#">Sneha Malla</a>
					</li>
				</ul>

			</div>
			<!-- Grid column -->

			<hr class="clearfix w-100 d-md-none">

			<!-- Grid column -->
			<div class="col-md-3 mx-auto">

				<!-- Links -->
				<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Social</h5>

				<ul class="list-unstyled">
					<li>
						<a href="#">Facebook</a>
					</li>
					<li>
						<a href="#">Instagram</a>
					</li>
					<li>
						<a href="#">Twitter</a>
					</li>
				</ul>

			</div>
			<!-- Grid column -->

			<hr class="clearfix w-100 d-md-none">

			<!-- Grid column -->
			<div class="col-md-3 mx-auto">

				<!-- Links -->
				<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Navigation</h5>

				<ul class="list-unstyled">
					<li>
						<a href="{% url 'index' %}">Home</a>
					</li>
					<li>
						<a href="{% url 'bid' %}">Bid</a>
					<li>
						<a href="{% url 'search' %}">Search</a>
					</li>
					<li>
						<a href="#">About</a>
					</li>
				</ul>

			</div>
			<!-- Grid column -->

		<hr class="clearfix w-100 d-md-none">

		</div>
		<!-- Grid row -->

	</div>
	<!-- Footer Links -->

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">&copy; 2020 Copyright:
		<a href="http://127.0.0.1:8000/index/"> BestBid.com</a> | Designed and Developed by : Aarsh Sheth, Zarmy Patel, Sneha Malla
	</div>
	<!-- Copyright -->

</footer>
<!-- Footer -->