{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% block title %}
			<title>Change Password | BestBid.com</title>

			<script src="{% static 'jquery/verify_password.js' %}"></script>
			<script src="{% static 'jquery/toggle_password.js' %}"></script>
		{% endblock %}
	</head>

	<body>

		<main>
			{% block body %}
				<div class="container w-50">
					<br>
					<h2 style="text-align: center;">Verify OTP</h2>
					<br>
					<form action="{% url 'reset_password' 'check_otp' %}" method="POST">
						{% csrf_token %}
						<fieldset>	
								<div class="form-group">
									<label for="check_otp">One Time Password</label>
									<input type="text" class="form-control" id="check_otp" name="check_otp" placeholder="OTP" autocapitalize="false" autocomplete="false" autocorrect="false" required>
								</div>
								<!-- <input type="hidden" name="user_type" value="{{ request.POST.user_type }}">
								<input type="hidden" name="user_email" value="{{ request.POST.user_email }}"> -->
								<input type="hidden" name="verify_otp" value="verify_otp">
								<input type="hidden" name="verify_otp" value="verify_otp">
								<button class="btn btn-primary" id="update_btn">Verify OTP</button>	
						</fieldset>
					</form>
					<br><br>
					
					{% if verification_failed %}
						<h5 style="text-align: center;">OTP Verification Failed. Please Try Again.</h5>	
					{% endif %}
					<br>
				</div>

			{% endblock %}
		</main>
	</body>
</html>
