{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% block title %}
			<title>Index | BestBid.com</title>
		{% endblock %}
	</head>

	<body>

		<main>
			{% block body %}
				<div class="container">
					<br>
					<h2 style="text-align: center;">Recently Auctioned Assets</h2>
					<br>
					<!-- Card for each asset -->
					{% for l in last_five %}
						<div class="row asset-details" style="display: inline-flex;">
							<div class="img-box col-sm-12 col-md-6" style="float: left;">
								<img src="{{ l.asset.image.url }}" alt="{{ l.asset.name }}" style="display: block" width="100%;">
							</div>
						</div>
						<br>
					{% endfor %}
					<br><br>
					
					<!-- Upcoming Auctions -->
					<h2>Upcoming Auctions</h2>
					<br>
					{% for upcoming in auctions %}
						<div class="card" style="width:400px">
							<h3 class="card-header">{{ upcoming.asset }}</h3>
							<div class="card-body">
								<h5 class="card-title">{{ upcoming.category }}</h5>
							</div>
							<div class="card-body">
								<p class="card-text">Sold at : ${{ upcoming.price }}</p>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endblock %}
		</main>
	</body>
</html>
