{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% block head %}
			<title>Index | BestBid.com</title>
		{% endblock %}
	</head>

	<body>

		<main>
			{% block body %}
				<div class="container-fluid">
					<br>
					<h2 style="text-align: center;">Recently Auctioned Assets</h2>
						
					<!-- Card for each asset -->
					{% for l in last_five %}
						<div class="col-sm-6">
							<div class="card" style="width:400px">
								<h3 class="card-header">{{ l.asset }}</h3>
								<div class="card-body">
									<h5 class="card-title">{{ l.category }}</h5>
								</div>
								<img style="height: 150px; width: 100%; display: block;" src="{{ l.asset.image.url }}" alt="Asset Image">
								<div class="card-body">
									<p class="card-text">Sold at : ${{ l.price }}</p>
								</div>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">Seller : {{ l.seller.name }}</li>
									<li class="list-group-item">Buyer : {{ l.buyer.name }}</li>
								</ul>
								<div class="card-footer text-muted">
									Sold on : {{ l.auction_id.date }}
								</div>
							</div>
						</div>
					{% endfor %}
					<br><br>
					
					<!-- Upcoming Auctions -->
					<h2>Upcoming Auctions</h2>
					<br>
					{% for upcoming in auctions %}
						<div class="card" style="width:400px">
							<h3 class="card-header">{{ upcoming.asset }}</h3>
							<div class="card-body">
								<h5 class="card-title">{{ upcoming.category }}</h5>
							</div>
							<div class="card-body">
								<p class="card-text">Sold at : ${{ upcoming.price }}</p>
							</div>
							<div class="card-footer text-muted">
								Sold on : {{ upcoming.date }}
							</div>
						</div>
					{% endfor %}
				</div>
			{% endblock %}
		</main>
	</body>
</html>
