{% extends 'base.html' %}

<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<title>Login | BestBid.com</title>
		{% endblock %}
	</head>

	<body>
		{% block body %}
		<main class="container">

			<h1>Buyer Login</h1>
			<form action="{% url 'buyer_login' %}" method="POST">
                {% csrf_token %}
                {{ buyer_form.as_p }}
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
            <br>
			<br>
			<h1>Seller Login</h1>
			<form action="{% url 'seller_login' %}" method="POST">
                {% csrf_token %}
                {{ seller_form.as_p }}
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
            <br><br>
            <a href="{% url 'registration' %}"> New to Site ?</a>

		</main>
		<br><br>
		{% endblock %}
	</body>
</html>
