{% extends 'base.html' %}

<!DOCTYPE html>
<html>
	<head>
		{% block title %}
			<title>Login | BestBid.com</title>
		{% endblock %}
	</head>

	<body>
		{% block body %}
		<main class="container">
			<br>
			<h1 style="text-align: center;">Login</h1>
			<br>
			<div class="row" style="width: 100%;">
				<div class="card border-primary mb-3 col-md-4">
					<div class="card-header">Seller</div>
					<div class="card-body">
						<h4 class="card-title">Login as Seller</h4>
						<p class="card-text"><a href="{% url 'seller_login' %}">Login as Seller</a></p>
					</div>
				</div>
				&nbsp;&nbsp;&nbsp;
				<div class="card border-primary mb-3 col-md-4">
					<div class="card-header">Buyer</div>
					<div class="card-body">
					<h4 class="card-title">Login as Buyer</h4>
					<p class="card-text"><a href="{% url 'buyer_login' %}">Login as Buyer</a></p>
					</div>
				</div>
			</div>

			<form action="{% url 'registration' %}">
				<button type="submit"class="btn btn-primary my-2 my-sm-0">Registration</button>
			</form>
			
			<br><br>
			{% if messages %}
				<ul class="messages">
					{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}

		</main>
		<br><br>
		{% endblock %}
	</body>
</html>
