<nav class="navbar navbar-expand-sm navbar-dark bg-primary" style="font-size:larger !important;">
	<a class="navbar-brand" href="#" style="font-size: x-large !important;">BestBid<small>.com</small></a>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'index' %}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'bid' %}">Bid</a>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'search' %}">Search</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About</a>
			</li>
		</ul>

		<!-- For Profile Button -->
		{% if request.session.id %}
			<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
				{% comment %}
					
					<form class="form-inline my-2 my-lg-0" action="{% url 'profile' request.session.user_type request.session.id %}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="user_id" value="{{ request.session.id }}">		
						<input type="hidden" name="user_type" value="{{ request.session.user_type }}">
						<button class="btn btn-success my-2 my-sm-0">Profile</button>
					</form>
					<div class="btn-group dropLeft" role="group">
						<button id="btnGroupDrop" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
						<div class="dropdown-menu" aria-labelledby="btnGroupDrop">
							{% if user_type == "seller" %}
								<a class="dropdown-item" href="{% url 'seller_dashboard' %}">Dashboard</a>
							{% else %}
								<a class="dropdown-item" href="{% url 'buyer_dashboard' %}">Dashboard</a>
							{% endif %}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
						</div>
					</div>
				
				{% endcomment %}

				
				&nbsp;&nbsp;&nbsp;
				<div class="btn-group">
					<button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.session.name|title }}</button>
					<div class="dropdown-menu">
						<form class="form-inline my-2 my-lg-0" action="{% url 'profile' request.session.user_type request.session.id %}" method="POST">
							{% csrf_token %}
							<input type="hidden" name="user_id" id="user_id" value="{{ request.session.id }}">		
							<input type="hidden" name="user_type" id="user_type" value="{{ request.session.user_type }}">
							<a class="dropdown-item" href="#">Profile</form>
						</form>
						
						{% if user_type == "seller" %}
							<a class="dropdown-item" href="{% url 'seller_dashboard' %}">Dashboard</a>
						{% else %}
							<a class="dropdown-item" href="{% url 'buyer_dashboard' %}">Dashboard</a>
						{% endif %}

						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
					</div>
				  </div>
			</div>
			&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;

		{% else %}
			<form class="form-inline my-2 my-lg-0" action="{% url 'login' %}">
				<button class="btn btn-success my-2 my-sm-0">
					Login
				</button>
			</form>
		{% endif %}
	</div>
</nav>