<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="font-size:larger !important;">
	<a class="navbar-brand" href="{% url 'index' %}" style="font-size: x-large !important;">BestBid<small>.com</small></a>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'index' %}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'bid' %}">Bid</a>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'search' %}">Search</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'about' %}">About</a>
			</li>
		</ul>

		<!-- For Profile Button -->
		{% if request.session.id %}
			<!-- If Logged In -->
			<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
				<form class="form-inline my-2 my-lg-0" action="{% url 'profile' request.session.user_type request.session.id %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="user_id" value="{{ request.session.id }}">		
					<input type="hidden" name="user_type" value="{{ request.session.user_type }}">
					<button class="btn btn-success my-2 my-sm-0">{{ request.session.name|title }}</button>
				</form>
				<div class="btn-group dropLeft" role="group">
					<button id="btnGroupDrop" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
					<div class="dropdown-menu" aria-labelledby="btnGroupDrop">
						{% if request.session.user_type == 'seller' %}
							<a class="dropdown-item" href="{% url 'seller_dashboard' %}">Dashboard</a>
						{% endif %}
						{% if request.session.user_type == 'buyer' %}
							<a class="dropdown-item" href="{% url 'buyer_dashboard' %}">Dashboard</a>
						{% endif %}
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" data-toggle="modal" data-target="#logout">Logout</a>
					</div>
				</div>
			</div>
			&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;
			
		{% else %}
			<!-- If not logged in -->
			<form class="form-inline my-2 my-lg-0" action="{% url 'login' %}">
				<button class="btn btn-success my-2 my-sm-0">
					Login
				</button>
			</form>
		{% endif %}
		
		<!-- Confirm Logout Modal -->
		<div class="modal fade" id="logout">
			<div class="modal-dialog " role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Confirm Logout</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Are you sure to Logout ?</p>
					</div>
					<div class="modal-footer">
						<form action="{% url 'logout'%}" method="POST">
							{% csrf_token %}
								<input type="hidden" name="user_id" value="{{ request.session.id }}">
								<input type="hidden" name="user_type" value="{{ request.session.user_type }}">
								<input type="hidden" name="logout" value="logout">
								<button class="btn btn-primary" autofocus>Logout</button>
						</form>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</nav>