{% extends 'base.html' %}

<!DOCTYPE html>

<html>
	<head>
		{% block head %}
			<title>Registration</title>
		{% endblock %}
	</head>
	
	<body>
		{% block body %}

		<main class="container">

			<h1>Registration</h1>
			
			<div class="card border-primary mb-3" style="max-width: 20rem;">
				<div class="card-header">Seller</div>
				<div class="card-body">
				  <h4 class="card-title">Register as Seller</h4>
				  <p class="card-text"><a href="{% url 'seller_reg' %}">Register as Seller</a></p>
				</div>
			</div>
			
			<div class="card border-primary mb-3" style="max-width: 20rem;">
				<div class="card-header">Buyer</div>
				<div class="card-body">
				  <h4 class="card-title">Register as Buyer</h4>
				  <p class="card-text"><a href="{% url 'buyer_reg' %}">Register as Buyer</a></p>
				</div>
			</div>
			<a href="{% url 'login' %}">Login</a>
		</main>

		{{ form.errors }}
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<br><br>
		{% endblock %}
	</body>
</html>
