{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% block title %}
			<title>Change Password | BestBid.com</title>

			<script src="{% static 'jquery/verify_password.js' %}"></script>
			<script src="{% static 'jquery/toggle_password.js' %}"></script>
		{% endblock %}
	</head>

	<body>

		<main>
			{% block body %}
				<div class="container w-50">
					<br>
					<h2 style="text-align: center;">Change Password</h2>
					<br>
					<form action="{% url 'reset_password' %}" method="POST">
						{% csrf_token %}
						<fieldset>								
							<div class="form-group" id="pwdcheck1">
								<label for="pwd1">New Password</label>
								<input type="password" class="form-control" id="pwd1" name="pwd1" placeholder="Create New Password" autocapitalize="false" autocomplete="false" autocorrect="false">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="customSwitch1" onclick="toggle_pass()">
									<label class="custom-control-label" for="customSwitch1">Show Password</label>
								</div>
							</div>
							<div class="form-group" id="pwdcheck2">
								<label for="pwd2">Confirm Password</label>
								<input type="password" class="form-control" id="pwd2" name="pwd2" placeholder="Confirm Password" autocapitalize="false" autocomplete="false" autocorrect="false" onkeyup="checkPassword()">
								
								<div class="valid-feedback">Passwords Match</div>
								<div class="invalid-feedback">Passwords Do Not Match</div>
								
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="customSwitch2" onclick="toggle_confirm()">
									<label class="custom-control-label" for="customSwitch2">Show Password</label>
								</div>
							</div>

							<input type="hidden" name="user_id" value="{{ request.session.id }}">
							<input type="hidden" name="user_type" value="{{ request.session.user_type }}">
							<input type="hidden" name="reset" value="reset">
							<button class="btn btn-primary" id="update_btn" disabled="true">Save Password</button>

						</fieldset>
					</form>
					<br>
				</div>

			{% endblock %}
		</main>
	</body>
</html>