{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% block title %}
			{% if search_results %}
				<title>{{ query }} | BestBid.com</title>
			{% elif no_results %}
				<title>No Results | BestBid.com</title>
			{% else %}
				<title>Search | BestBid.com</title>
			{% endif %}
		{% endblock %}
	</head>

	<body>
		{% block body %}
			<div class="container">
				<main>
					<br>
					<h1 style="text-align: center;">Search</h1>
					<br>
					<div class="w-50">
						<form action="{% url 'search' %}" method="POST">
							{% csrf_token %}
							<div class="form-group">
								<label class="col-form-label col-form-label-lg" for="search_query">Search for Assets</label>
									<input class="form-control form-control-lg" type="text" placeholder="Search Assets" id="search_query" name="search_query" {% if search_results %} value="{{ query }}" {% endif %} />
							</div>
							<br>
							<button type="submit" class="btn btn-primary btn-lg">Search</button>
						</form>
					</div>
					<br>
					{% if search_results %}
						{% for item in search_results %}
							<div class="row row-cols-1 row-cols-sm-2 row-cols-md-6">
								<div class="card " style="border-radius: 7px;">
									<h3 class="card-header" style="text-align: center;"><a href="{{ item.get_abs_url }}">{{ item.name }}</a></h3>
									<div class="row align-items-center">
										<div class="col asset-img" style="display: inline-flex;">
											<a href="{{ item.get_abs_url }}">
												<img src="{{ item.image.url }}" alt="{{ item.name|title }}" style="display: block; border-radius: 7px;" width="100%;">
											</a>
										</div>
										<div class="col">
											<ul class="list-group list-group-flush">
												<li class="list-group-item">Name : {{ item.name|title }}</li>
												<li class="list-group-item">Category : {{ item.category|title }}</li>
												<li class="list-group-item">Baseprice : {{ item.baseprice }}</li>
												<li class="list-group-item">Seller : {{ item.seller|title }}</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<br>
							{% endfor %}
					{% endif %}

					{% if no_results %}
						<h4 style="text-align: center;">No Assets Found</h4>
					{% endif %}

				</main>
			</div>
			<br><br><br>
		{% endblock %}
	</body>
</html>
