<!DOCTYPE html>

<html>
	<head>
		<title>Search</title>
	</head>
	
	<body>
		<center>
			<h1>Search Results</h1>
			<hr>
			<br>
			{% if friends %}
				<table>
					{% for f in friends %}
						<tr>
							<td>{{ f }}-----</td>
							<td>
								<form action="send_request" method="POST">
									{% csrf_token %}
									<input type="submit" value="Add Friend" />
									<input type="hidden" name="f" value="{{ f }}" />
								</form>
							</td>
						</tr>
					{% endfor %}
				</table>
			{% elif already_friends %}
				<table>
					{% for f in already_friends %}
						<tr>
							<td>{{ f }}-----</td>
							<td>Request Already Sent</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				No Users Found
			{% endif %}
		</center>
	</body>
</html>
