{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% block title %}
			<title>Seller | BestBid.com</title>
		{% endblock %}
	</head>

	<body>
		{% block body %}
			<div class="container">
				<main>
					<br>
					<h1 style="text-align: center;">Dashboard</h1>
					<br>
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Email</th>
								<th scope="col">Contact</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ user.name|title }}</td>
								<td>{{ user.email }}</td>
								<td>{{ user.contact }}</td>
							</tr>
						</tbody>
					</table>
					<br>
					<div>
						<form action="{% url 'upload' %}" method="GET">
							<input type="hidden" name="user_type" value="seller">
							<input type="hidden" name="user_id" value="{{ user.id }}">
							<input type="submit" class="btn btn-primary btn-lg" value="Upload Asset">
						</form>
					</div>
					<br><br>

					<!-- Upcoming Auctions -->
					<h2 style="text-align: center;">Your Assets</h2>
					<br>
					<!-- Card for each asset -->
					{% for asset in assets %}
						<div class="card " style="border-radius: 7px;">
							<h3 class="card-header" style="text-align: center;"><a href="{{ asset.get_abs_url }}">{{ asset.name }}</a></h3>
							<div class="row align-items-center">
								<div class="col asset-img" style="display: inline-flex;">
									<a href="{{ asset.get_abs_url }}">
										<img src="{{ asset.image.url }}" alt="{{ asset.name|title }}" style="display: block; border-radius: 7px;" width="100%;">
									</a>
								</div>
								<div class="col">
									<ul class="list-group list-group-flush">
										<li class="list-group-item">Name : {{ asset.name|title }}</li>
										<li class="list-group-item">Category : {{ asset.category|title }}</li>
										<li class="list-group-item">Baseprice : {{ asset.baseprice }}</li>
										<li class="list-group-item">Seller : {{ asset.seller }}</li>
									</ul>
								</div>
							</div>
						</div>
						<br>
					{% empty %}
						<h5 style="text-align: center;">No Assets Uploaded</h5>
					{% endfor %}
				</main>
			</div>
		{% endblock %}
	</body>
</html>
