{% extends 'base.html' %}

<!DOCTYPE html>

<html>
	<head>
		{% block head %}
			<title>Seller Registration</title>
		{% endblock %}
	</head>
	
	<body>
		{% block body %}
			<div class="container">
				<main>
					<br>
					<h1 style="text-align: center;">Seller Registration</h1>
					<br>
					<div class="w-50">
						<form action="{% url 'seller_reg' %}" method="POST">
							{% csrf_token %}
							{{ form.as_p }}
							<input type="submit" class="btn btn-primary" value="Submit">
						</form>
					</div>
				</main>
				{{ form.errors }}
				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
			<br><br>
		{% endblock %}
	</body>
</html>
