{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% block title %}
			<title>Upload | BestBid.com</title>
		{% endblock %}
	</head>

	<body>
		{% block body %}
			<div class="container w-50">
				<main>
					<br>
					<h1 style="text-align: center;">Upload an Asset</h1>
					<br>
				
					<form action="{% url 'upload' %}" method="POST">
						{% csrf_token %}
						<fieldset>
							{{ form.as_p }}
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</fieldset>
					</form>
				</main>
			</div>
			
		{% endblock %}
	</body>
</html>
